.footer {
  padding: 10px 20px;
  background-color: #212121;
  color: #666666;
  height: 120px;
  text-align: center; }
  .footer .footer_image {
    width: 275px;
    padding-top: 20px; }
  .footer .footer_txt {
    font-size: 12px;
    color: #5c5c5c;
    text-align: center;
    padding-top: 10px; }
