body {
  background-color: #f2f2f2; }

a,
b,
base,
blockquote,
body,
br,
button,
canvas,
caption,
col,
colgroup,
div,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
i,
iframe,
input,
img,
label,
option,
p,
pre,
select,
span,
strong,
table,
tbody,
td,
textarea,
th,
tr {
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif; }
